.text-bold {
    font-weight: bold;
}

.paddingToChild > * {
    padding: 2px;
}

.paddingLeft {
    padding-left: 5px;
}

.paddingDown {
    padding-bottom: 5px;
}



.paddingSides {
    padding-left: 5px;
    padding-right: 5px;
}

.paddingLargeChild > * {
    padding: 15px;
}

.paddingTopBot {
    padding-top: 5px;
    padding-bottom: 5px;
}

.paddingTopBot15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.text-normal {
    font-style: normal;
}
